<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ejercicio-Fechas-Publicación" data-toc-modified-id="Ejercicio-Fechas-Publicación-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ejercicio Fechas Publicación</a></span></li><li><span><a href="#Ejercicio-Tipo-de-Contrato-y-Subtipo-de-Contrato" data-toc-modified-id="Ejercicio-Tipo-de-Contrato-y-Subtipo-de-Contrato-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicio Tipo de Contrato y Subtipo de Contrato</a></span></li><li><span><a href="#Ejercicio-Duración-del-contrato" data-toc-modified-id="Ejercicio-Duración-del-contrato-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ejercicio Duración del contrato</a></span></li></ul></div>

# Ejercicios Limpieza de Datos <a class="tocSkip">

por Mónica Tatiana Gutierrez B

version 0.1, Feb 2021

Parte de la clase Curso de visualización para ciencia de datos en Python

Ejercicios resueltos: Pryor Jamphiers Espinosa Muñoz

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_SECOP = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Visualización - Clases/SECOP_II_-_Procesos_de_Contrataci_n.csv', 
                 sep = ',',
                 thousands=',', decimal='.',
                 skip_blank_lines=True,
                 low_memory = False,
                 dtype={
                     'Nit Entidad': str
                 })

In [ ]:
columns = ['Entidad',
          'Nit Entidad',
          'Departamento Entidad',
          'Ciudad Entidad',
          'OrdenEntidad',
          'ID del Proceso',
          'Referencia del Proceso',
          'ID del Portafolio',
          'Nombre del Procedimiento',
          'Fase',
          'Fecha de Publicacion del Proceso',
          'Fecha de Ultima Publicación',
          'Precio Base',
          'Modalidad de Contratacion',
          'Duracion',
          'Unidad de Duracion',
          'Adjudicado',
          'ID Adjudicacion',
          'CodigoProveedor',
          'Nombre del Proveedor Adjudicado',
          'NIT del Proveedor Adjudicado',
          'Departamento Proveedor',
          'Ciudad Proveedor',
          'Valor Total Adjudicacion',
          'Tipo de Contrato',
          'Subtipo de Contrato']
df_SECOP0 = df_SECOP.copy()
df_SECOP0 = df_SECOP0[columns]
df_SECOP0.dtypes

Entidad                             object
Nit Entidad                         object
Departamento Entidad                object
Ciudad Entidad                      object
OrdenEntidad                        object
ID del Proceso                      object
Referencia del Proceso              object
ID del Portafolio                   object
Nombre del Procedimiento            object
Fase                                object
Fecha de Publicacion del Proceso    object
Fecha de Ultima Publicación         object
Precio Base                          int64
Modalidad de Contratacion           object
Duracion                             int64
Unidad de Duracion                  object
Adjudicado                          object
ID Adjudicacion                     object
CodigoProveedor                     object
Nombre del Proveedor Adjudicado     object
NIT del Proveedor Adjudicado        object
Departamento Proveedor              object
Ciudad Proveedor                    object
Valor Total Adjudicacion             int64
Tipo de Contrato                    object
Subtipo de Contrato                 object
dtype: object

In [ ]:
print('Antes de borrar registros: ',df_SECOP0.shape)
for col in df_SECOP0.columns:
    missing = df_SECOP0[col].isnull()
    num_missing = np.sum(missing)
    
    if num_missing > 0:  
        print('created missing indicator for: {}'.format(col))
        df_SECOP0['{}_ismissing'.format(col)] = missing
ismissing_cols = [col for col in df_SECOP0.columns if 'ismissing' in col]
df_SECOP0['num_missing'] = df_SECOP0[ismissing_cols].sum(axis=1)

Antes de borrar registros:  (1688334, 26)
created missing indicator for: Referencia del Proceso
created missing indicator for: Nombre del Procedimiento
created missing indicator for: Fecha de Publicacion del Proceso
created missing indicator for: Fecha de Ultima Publicación
created missing indicator for: NIT del Proveedor Adjudicado

In [ ]:
ind_missing = df_SECOP0[df_SECOP0['num_missing'] >= 1].index
df_less_missing_rows = df_SECOP0.drop(ind_missing, axis=0)
df_less_missing_rows = df_less_missing_rows[columns]
print('Antes de borrar registros: ',df_SECOP0.shape)
print('Después de borrar registros: ',df_less_missing_rows.shape)
print('Cantidad registros borrados: ',df_SECOP0.shape[0]-df_less_missing_rows.shape[0])

Antes de borrar registros:  (1688334, 32)
Después de borrar registros:  (1686896, 26)
Cantidad registros borrados:  1438

In [ ]:
df_dedupped = df_SECOP.drop_duplicates()
print('Antes de quitar duplicados: ',df_SECOP.shape)
print('Después de borrar registros: ',df_dedupped.shape)
print('Cantidad registros borrados: ',df_SECOP.shape[0]-df_dedupped.shape[0])

Antes de quitar duplicados:  (1688334, 59)
Después de borrar registros:  (1688331, 59)
Cantidad registros borrados:  3

In [ ]:
df_SECOP_C = df_less_missing_rows
df_dedupped_SECOP = df_SECOP_C.drop_duplicates()

print('Antes de quitar duplicados de la base sin datos faltantes: ',df_SECOP_C.shape)
print('Después de borrar regeistros: ',df_ddupped_SECOP.shape)
print('Cantidad registros borrados: ',df_SECOP_C.shape[0]-df_dedupped_SECOP.shape[0])

Antes de quitar duplicados de la base sin datos faltantes:  (1686896, 26)
Después de borrar registros:  (1686893, 26)
Cantidad registros borrados:  3

In [ ]:
df_dedupped_SECOP['EventCount'] = df_dedupped_SECOP['Nit Entidad'].str.len()
df_consistency_SECOP = df_dedupped_SECOP[df_dedupped_SECOP['EventCount'] >= 9 ]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Ejercicio Fechas Publicación

Teniendo en cuenta que existe una Fecha de Publicación del Proceso y una fecha de última publicación, realice la limpieza de formato de dichas variables. Defina una nueva variable en la que se calcule la diferencia de éstas dos fechas y responda si incluiría las dos fechas dentro de la fuente de datos.

*Utilice estadísticas descriptivas para responder la pregunta*

In [ ]:
df_consistency_SECOP['Fecha de Publicacion del Proceso'] = pd.to_datetime(df_consistency_SECOP['Fecha de Publicacion del Proceso'],format='%m/%d/%Y')
df_consistency_SECOP['Fecha de Ultima Publicación'] = pd.to_datetime(df_consistency_SECOP['Fecha de Ultima Publicación'],format='%m/%d/%Y')
df_consistency_SECOP.dtypes

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Entidad                                     object
Nit Entidad                                 object
Departamento Entidad                        object
Ciudad Entidad                              object
OrdenEntidad                                object
ID del Proceso                              object
Referencia del Proceso                      object
ID del Portafolio                           object
Nombre del Procedimiento                    object
Fase                                        object
Fecha de Publicacion del Proceso    datetime64[ns]
Fecha de Ultima Publicación         datetime64[ns]
Precio Base                                  int64
Modalidad de Contratacion                   object
Duracion                                     int64
Unidad de Duracion                          object
Adjudicado                                  object
ID Adjudicacion                             object
CodigoProveedor                             object
Nombre del Proveedor Adjudicado             object
NIT del Proveedor Adjudicado                object
Departamento Proveedor                      object
Ciudad Proveedor                            object
Valor Total Adjudicacion                     int64
Tipo de Contrato                            object
Subtipo de Contrato                         object
EventCount                                   int64
dtype: object

**Resta de las fechas**

In [ ]:
Dif_fechas = df_consistency_SECOP['Fecha de Publicacion del Proceso'] - df_consistency_SECOP['Fecha de Ultima Publicación']
Dif_fechas.describe()

count                      1684917
mean     0 days 03:54:11.485740840
std      0 days 08:51:24.239364293
min                0 days 00:00:00
25%                0 days 00:00:00
50%                0 days 00:00:00
75%                0 days 00:00:00
max                1 days 00:00:00
dtype: object

In [ ]:
Dif_fechas.value_counts()

0 days    1410894
1 days     274023
dtype: int64

se eliminan las fecha de publicación del proceso y dejar la fecha ,as reciente, la ultima fecha de publicación.

## Ejercicio Tipo de Contrato y Subtipo de Contrato
De acuerdo con las variables Contrato y Subcontrato, realice una tabla cruzada y responda ¿Vale la pena dejar ambas variables en la fuente de datos?

In [ ]:
tab1 = pd.crosstab(df_consistency_SECOP["Tipo de Contrato"],df_consistency_SECOP["Subtipo de Contrato"])
tab1

Subtipo de Contrato             No Especificado
Tipo de Contrato
27 - Otros servicios                      75058
Acuerdo Marco                              1092
Alquiler de edificios                     14759
Arrendamiento Muebles                      1159
Comisión                                    116
Compraventa                               62272
Concesión                                   146
Consultoría                                6007
Decreto 092 de 2017                       58583
Interventoría                              7046
ND                                        51512
No Especificado                              17
Obra                                      24662
Seguros                                    4216
Servicios de aprovisionamiento          1306192
Suministros                               71892
Ventas de muebles                           188

In [ ]:
df_consistency_SECOP["Subtipo de Contrato"].value_counts()

No Especificado    1684917
Name: Subtipo de Contrato, dtype: int64

Se deja la variable Tipo de contrato por su relevancia en la tabla.

## Ejercicio en clase de duración
Creación de variable en nuevo parametro de duración.

In [ ]:
df_consistency_SECOP['Unidad de Duracion'].value_counts()

Dias     840340
Meses    753211
ND        78663
Años      12703
Name: Unidad de Duracion, dtype: int64

In [ ]:
df_consistency_SECOP[['Unidad de Duracion','Duracion']].head(20)

    Unidad de Duracion  Duracion
22               Meses         6
23                Dias       240
48                Dias        70
61                Dias       105
63                Dias        45
74                Dias        30
83                  ND         0
104              Meses         8
117              Meses         4
119               Dias       250
144              Meses         9
150              Meses         3
152              Meses        10
159               Dias        91
165               Dias       120
178               Dias       140
182              Meses         5
183               Dias       120
203              Meses        11
213              Meses         2

#**Reguistro: Datos eliminados**
realizamos una conversión al tiempo.

In [ ]:
df_consistency_SECOP = df_consistency_SECOP[(df_consistency_SECOP['Unidad de Duracion'] != "ND")]
df_consistency_SECOP['Unidad de Duracion'].value_counts()

Dias     840340
Meses    753211
Años      12703
Name: Unidad de Duracion, dtype: int64

#**Pasar mi fecha a formato unico**. 
Condicionales. Dejarlos todos en un mismo formato, el cual será en este caso días. Para los años se multiplicara la cantidad por 360 y los meses por 30 respectivamente. Estos resultados se guardarán en una nueva variable llamada *Duracion2*

In [ ]:
df_consistency_SECOP['Duracion2'] = np.where(df_consistency_SECOP['Unidad de Duracion'] == "Dias", df_consistency_SECOP['Duracion'], 
                                              np.where(df_consistency_SECOP['Unidad de Duracion'] == "Meses", df_consistency_SECOP['Duracion']*30, 
                                                       np.where(df_consistency_SECOP['Unidad de Duracion'] == "Años", df_consistency_SECOP['Duracion']*360, "otro")))

In [ ]:
df_consistency_SECOP[['Unidad de Duracion','Duracion','Duracion2']].sample(20)

        Unidad de Duracion  Duracion Duracion2
1316434               Dias        90        90
782936                Dias       164       164
1652342              Meses        11       330
1552261              Meses         4       120
1097143               Dias       330       330
1478708              Meses         3        90
947231               Meses         1        30
1472790              Meses         1        30
693898                Dias        56        56
1355130               Dias        69        69
378678               Meses        11       330
374974               Meses         2        60
1563890               Dias       240       240
717144               Meses        12       360
1088853               Dias        45        45
27830                 Dias       136       136
1672764              Meses         5       150
1122265               Dias        21        21
938539               Meses         3        90
1189238               Dias        45        45